/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_dark {
  --accent-color: #FF0070;
  --background-color: #ff0070;
  --shadow-color: #ff0070;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --text-color: #F1B2CE;
}

.page.theme_dark {

  background-image: url(../images/cover-image-dark.png);

  .header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.4);
  }

  .header__theme-rec {
    display: block;
  }
}
