/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --background-color: #FF8DCB;
  --title-color: #FFC2E6;
  --accent-color: #353430;
  --text-color: #353430;
  --shadow-color: #FF8DCB;
}

@media (prefers-color-scheme: light) {

  :root {
      --background-color: #FF8DCB;
      --title-color: #FFC2E6;
      --accent-color: #353430;
      --text-color: #353430;
      --shadow-color: #FF8DCB;
    }

    .header__theme-rec {
      display: none;
    }
}

.page.theme_light {
  .header__theme-rec {
    display: none;
  }
}